<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'collect/stylesheets/style.css' %}" />
</head>

{% if posts_list %}
  {% for p in posts_list %}
    <div class="post">
      <h2>{{ p.title }}</h2>
      <p>{{ p.description }}</p>
      <p>{{ p.compensation }}</p>

      <form method="post">
        {% csrf_token %}
        {{ p.form }}
        <button type="submit" name="process-post" formaction="{{ p.process_as_valid }}">Pass</button>
        <button type="submit" name="process-post" formaction="{{ p.process_as_invalid }}">Fail</button>
      </form>
    </div>
  {% endfor %}
{% else %}
<p>No posts available.</p>
{% endif %}

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="{% static 'collect/js/script.js' %}"></script>


